<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get There</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap" rel="stylesheet">

</head>
    <body id="row">
        <div id="column1">
            <h1>Get There.</h1>
        </div>
        <div id="column2">
            <img src="/pictures/logo.png" id="logo" alt="logo"><br><br>
            <a href="http://localhost:3000/Driving"><button class="button">Driving</button></a><br>
            <a href="http://localhost:3000/Bus"><button class="button">Bus</button></a><br>
            <a href="http://localhost:3000/Train"><button class="button">Train</button></a><br>
            <a href="http://localhost:3000/Metro"><button class="button">Metro</button></a><br>
            <a href="http://localhost:3000/Places"><button class="button">Find Places</button></a>
        </div>
    </body>
</html>