<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" type="text/css" href="css/page2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap" rel="stylesheet">
<title><%= page %></title>
</head>
<body>
    <section id="box">
        <a href="http://localhost:3000"><img src="pictures/logo.png" alt=""></a>
        <span id="tit"><%= page %></span>
        <br>
        <span id="from">From</span>
        <input type="text" id="ifrom">
        <button id="fromcurr" class="curr"><i class='fas fa-crosshairs'></i></button>
        <span id="to">To</span>
        <input type="text" id="ito">
        <button id="tocurr" class="curr"><i class='fas fa-crosshairs'></i></button>
        <button id="next">Get There</button>
    </section>
    <div id="googleMap">
    </div>
    <section id="dir">
        <span>Directions</span>
        <div id="out">
        </div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_MAPS_API_KEY&libraries=places"></script>
    <script src="script/<%= page %>.js"></script>
</body>
</html>
